* {
	margin: 0px;
	padding: 0px;
}

.global_container {
	background-color: #282c34;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.setting_break_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.setting_session_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.session_state_display_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.session_control_container {
	display: flex;
	justify-content: center;
	gap: 30px;
	margin-top: 20px;
	align-items: center;
}
